<div class="container">
  <div class="jumbotron">
    <p> At this page the analytic trail of World Values Survey and from my own created visualization is described, see below. </p>

    <h3>Research question on first analytic trail:</h3>
    <p>Is there any correlation between the state of health and satisfaction with your life?</p>

    <h3>Research question on second analytic trail:</h3>
    <p>Is there any correlation between subjective feelings of health and life compared to how much money we spend of health products?</p>
    <div class="alert alert-info" role="alert">Click on the images below to get a larger image!</div>
  </div>
  <!--WVS-->
  <h2>Analytic trail of World Values Survey</h2>
  <div class="row">
    <div class="col-md-5">
      <a ng-href="{{imagesWVS[0].url}}">
        <img class="img-responsive" ng-src="{{imagesWVS[0].url}}" alt="Yeoman"/>
      </a>
    </div>
    <div class="col-md-7">
      <h3>Step 1</h3>{{imagesWVS[0].caption}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <a ng-href="{{imagesWVS[1].url}}">
        <img class="img-responsive" ng-src="{{imagesWVS[1].url}}" alt="Yeoman"/>
      </a>
    </div>
    <div class="col-md-7">
      <h3>Step 2</h3>{{imagesWVS[1].caption}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <a ng-href="{{imagesWVS[2].url}}">
        <img class="img-responsive" ng-src="{{imagesWVS[2].url}}" alt="Yeoman"/>
      </a>
    </div>
    <div class="col-md-7">
      <h3>Step 3</h3>{{imagesWVS[2].caption}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <a ng-href="{{imagesWVS[3].url}}">
        <img class="img-responsive" ng-src="{{imagesWVS[3].url}}" alt="Yeoman"/>
      </a>
    </div>
    <div class="col-md-7">
      <h3>Step 4</h3>{{imagesWVS[3].caption}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">
      <h3>Step 5</h3>{{imagesWVS[4].caption}}
    </div>
  </div>

<hr/>

  <!--OWN-->
  <h2>Analytic trail of Own Visualisation</h2>
  <div class="row">
    <div class="col-md-7">
    </div>
    <div class="col-md-5">
      <h3>Step 1</h3>{{imagesOWN[0].caption}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <a href="../images/own_img1.png">
      <img class="img-responsive" ng-src="{{imagesOWN[1].url}}" alt="Yeoman"/>
      </a>
    </div>
    <div class="col-md-5">
      <h3>Step 2</h3>{{imagesOWN[1].caption}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <a href="../images/own_img2.png">
        <img class="img-responsive" ng-src="{{imagesOWN[2].url}}" alt="Yeoman"/>
      </a>
    </div>
    <div class="col-md-5">
      <h3>Step 3</h3>{{imagesOWN[2].caption}}
    </div>
  </div>
</div>
